	
	<div id="weclomenote">
		<div id="welcome">
			&nbsp; Welcome,
			<ul>
				<li>Rails is a framework which can useful to develop web applications</li>
				<li>The current version is 3.2.8(v) and can we download the rails installer which for windows OS  and develop web applications with the help of Ruby Lanaguage</li>
				<li> Ruby is an object oriented programming language (i.e., like  c#,java,..) and the current version is 1.9.3 (v).</li>
				<li> RubyGems is a packet manager which contains all the libraries to work on Ruby on Rails (ROR)</li>
				<li> Ruby is a Case-Sensitive </li>
				<li> Ruby syntax is quite seems to different when compare to  other oop languages</li>	
				<li>We develop an application <span class="listitem">'LunchReport'</span><span> using Ruby on Rails(ROR).</span></li>			
			</ul>
		</div>
	</div>	
	
