// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.headerlogo
{
  background-color:black;
  color:white;
  font-Weight:bold;  
  padding:5px;
  font-family: Pristina;
  font-size:20px;    
}
#weclomenote{ 
   
 height:250px;
 padding:10px;
 margin:30px;;

}
#welcome 
{
    
  padding:8px;    
  border-radius:10px;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;

}
#welcome ul li span.listitem
{
  
  color:red;
  font-Weight:bold;
  

} 

#loignpage table
{   
  text-align:center;
  padding:50px;
  margin-left:840px;  
  border-radius:10px;
  -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border:2px solid black;
  
}
#footer P
{  
  margin-bottom:10px;  
  background-color:#F8F8F8;
  border-top:2px solid silver;
  text-align:center;
  font-Weight:bold;
}
#background table
{
 
background-color: #F8F8F8 ;
 border-radius:10px;
  -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border:2px solid black; 
 padding:30px;
  margin-left:450px;
}
.curved
{
  border-radius:10px;
  -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border:1px solid black;  
}

.curved:hover
{
  border:2px solid green;
}
.curvedbtn
{
  
  border-radius:10px;
  -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border:1px solid black;
  width:100px;
  
}
.curvedbtn:hover
{
  border:2px solid orange;
  font-weight:bold;
}

.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
label
{
  font-weight:bold;
}
.blur
{
   font-size:20px;
   
   text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
