// Place all the styles related to the Userinfo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#forms{
float:center;   
padding:7px;
margin-left:80px;
margin-right:80px;
margin-top:30px;
margin-bottom:30px;
border-radius:10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
 
}
#tablealign
{
  margin-left:400px;
  margin-top:10px;
  margin-bottom:10px;
}





