
<div class="content">
	<%= @greetingmsg%> <span class="letter">C</span><span>hadive tech&nbsp;</span><span class="letter">C</span><span>enter</span><br />
</div>	
 <div class="link"><%= link_to 'Go to Home Page',:controller=>"home" %></div>
 
 		

	
